/* 
===============
Variables
===============
*/
:root {
  --primaryColor: #f15025;
  --mainblack: #222;
  --mainWhite: #fff;
  --offWhite: #f7f7f7;
  --darkGrey: #a7a7a7;
  --mainTransition: 0.3s all linear;
  --mainSpacing: 0.2rem;
}
/* 
===============
Global Styles
===============
*/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Fira Code", monospace;
  color: var(--mainblack);
  background: var(--mainWhite);
  line-height: 1.5;
}
a {
  text-decoration: none;
}
img {
  width: 100%;
  display: block;
}
h1,
h2,
h3 {
  text-transform: capitalize;
  letter-spacing: var(--mainSpacing);
  margin-bottom: 1.25rem;
}
h1 {
  font-size: 3rem;
}
h2 {
  margin-bottom: 0;
}
p {
  font-weight: 300;
  font-size: 0.7rem;
  line-height: 2;
}
/* button */
.btn {
  text-transform: capitalize;
  color: var(--primaryColor);
  border: 3px solid var(--primaryColor);
  padding: 0.5rem 1rem;
  transition: var(--mainTransition);
  margin: 3rem;
  display: inline-block;
}
.btn:hover {
  background: var(--primaryColor);
  color: var(--mainWhite);
}
/* 
===============
Main Navbar
===============
*/
.main-navbar {
  background: var(--darkGrey);
  padding: 0 2rem;
}
.main-navbar li {
  list-style: none;
}
.main-navbar a {
  padding: 1rem 0;
  display: block;
  text-transform: capitalize;
  color: var(--primaryColor);
  transition: var(--mainTransition);
  letter-spacing: var(--mainSpacing);
}
.main-navbar a:hover {
  color: var(--mainblack);
}
@media screen and (min-width: 992px) {
  .main-navbar ul {
    max-width: 1170px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
  .main-navbar a {
    text-align: center;
  }
}
/* 
===============
Hero
===============
*/
.hero-header {
  min-height: 100vh;
  background: var(--primaryColor);
  color: var(--mainWhite);
  display: grid;
  justify-content: center;
  align-items: center;
}
.hero-banner {
  /* background: blue; */
  /* text-align: center; */
}
.hero-banner p {
  font-size: 1rem;
  width: 80%;
  max-width: 560px;
}
@media screen and (max-width: 600px) {
  .hero-banner {
    padding: 0 3rem;
  }
}
@media screen and (min-width: 768px) {
  .hero-header {
    background: linear-gradient(rgba(241, 80, 37, 0.75), rgba(0, 0, 0, 0.75)),
      url("./images/image-2.jpeg") center/cover fixed no-repeat;
  }
}
/* 
===============
Cards
===============
*/
.cards {
  padding: 4rem 0;
}
.title {
  text-align: center;
}
.cards-center {
  width: 80vw;
  max-width: 1170px;
  margin: 2rem auto;
}
.card {
  border: 1px solid var(--darkGrey);
  margin-bottom: 3rem;
}
.card-info {
  padding: 1rem;
}
.card-footer {
  background: var(--darkGrey);
  padding: 0.5rem 1rem;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-items: center;
}
.card-footer span {
  color: var(--primaryColor);
}
/* @media screen and (min-width: 768px) {
  .cards-center {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }
}
@media screen and (min-width: 1170px) {
  .cards-center {
    grid-template-columns: repeat(3, 1fr);
  }
} */

/* Without Media Queries */
/* Max width = 1170px, 1 Column Gap - 2rem = 2*16=32px */
/* How many columns - 3, gaps - 2 */
/* Space for gaps = 2(gaps)*32= 64 */
/* Space avaiable = 1170 - 64 = 1106*/
/* Each column minimum width = 1160/3 = 386.666*, if minimum width can't be provided then the column goes to next row*/
.cards-center {
  display: grid;
  column-gap: 2rem;
  /* Three Column Layout -autofit */
  /* grid-template-columns: repeat(auto-fit, minmax(368px, 1fr)); */

  /* Three Column Layout - autofill*/
  /* grid-template-columns: repeat(auto-fill, minmax(368px, 1fr)); */

  /* Four Column Layout -autofill */
  /* (1170-96)/4 = 268.5*/
  grid-template-columns: repeat(auto-fill, minmax(268.5px, 1fr));
}
